
/******************************* BRACKET STANDINGS CLASSES *******************************/

td.td_dropin a					{ color: #fff; text-decoration: none; }
td.td_dropin a:link			{ color: #fff; text-decoration: none; }
td.td_dropin a:visited		{ color: #fff; text-decoration: none; }
td.td_dropin a:hover			{ color: #000; text-decoration: underline; }
td.td_dropin a:active		{ color: #fff; text-decoration: none; }

td.td_played a 				{ color: #fff; text-decoration: none; }
td.td_played a:link			{ color: #fff; text-decoration: none; }
td.td_played a:visited		{ color: #fff; text-decoration: none; }
td.td_played a:hover			{ color: #000; text-decoration: underline; }
td.td_played a:active		{ color: #fff; text-decoration: none; }

td.td_sched a					{ color: #FFFFFF; text-decoration: none; }
td.td_sched a:link			{ color: #FFFFFF; text-decoration: none; }
td.td_sched a:visited		{ color: #FFFFFF; text-decoration: none; }
td.td_sched a:hover			{ color: #FEDD00; text-decoration: underline; }
td.td_sched a:active			{ color: #FFFFFF; text-decoration: none; }

td.td_unsched a				{ color: #FFFFFF; text-decoration: none; }
td.td_unsched a:link			{ color: #FFFFFF; text-decoration: none; }
td.td_unsched a:visited		{ color: #FFFFFF; text-decoration: none; }
td.td_unsched a:hover		{ color: #FEDD00; text-decoration: underline; }
td.td_unsched a:active		{ color: #FFFFFF; text-decoration: none; }

.bracket {
	font-family: "lucida grande", lucida, arial, geneva, sans-serif;
	font-size: 10px;
	text-align: center;
	letter-spacing: 0;
	
	table-layout: fixed;
}
.bracket .td_unsched,
.bracket .td_played,
.bracket .td_dropin {
	text-align: left;
}
.bracket .td_unsched {
	background-color: #125A87;
    border: 1px solid #005285;
    border-right-color: #147AAD;
    border-bottom-color: #147AAD;
    filter: alpha(opacity=50, finishopacity=50, style=1);
}

/*	bracket spot splits the bracket cell into two parts,
	one for the player name and other for the [view] button in regular view mode
	by default that mode is off (altview is on) cause altview is cool :D */
	
.bracket ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
.bracket ul li {
	display: inline;
}
.bracket ul li#l {
	float: left;
}
.bracket ul li#r {
	float: right;
}

.contents {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFD872;
}

.td_normal {
	text-align: center;
	color: #dedede;
	
	background-color: #0063A3;
    border: 1px solid #1E84B7;
    border-right-color: #005285;
    border-bottom-color: #005285;
}
.td_dropin {
	color: #FFFFFF;
	
	background-color: #9A4647;
    border: 1px solid #AE5A5B;
    border-right-color: #863233;
    border-bottom-color: #863233;
}
.td_header {
	color: #FEFEFE;
	
	background-color: #595959;
    border: 1px solid #6D6D6D;
    border-right-color: #595959;
    border-left-color: #595959;
}
.td_unsched {
	color: #f2f2f2;
	text-align: center;
	
	background-color: #2F7496;
    border: 1px solid #4D92B4;
    border-right-color: #115678;
    border-bottom-color: #115678;
}
.td_unsched td {
	color: #f2f2f2;
	text-align: center;

	background: none;
	border: none;
}
.td_unsched table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: separate;
	border: 0;
}
.td_unsched td {
	padding: 0;
	border: 0;
	border-right: 1px solid #333;
}
.td_unsched td.right {
    border-width: 0;
    border-left: 1px solid #777;
}
.td_unsched table.format {
	background: none;
}
.td_unsched table.format td {
	background: #555;
	border: 1px solid #444;
	text-align: left;
	padding: 5px;
}
.td_played {
	color: #eee;
	
	background-color: #5C8FC2;
    border: 1px solid #7AADE0;
    border-right-color: #5285B8;
    border-bottom-color: #5285B8;
}
table.members_table td.td_played {
	text-align: center;
}
.td_played table {
	width: 100%;
	padding: 0;
}

.td_sched {
	text-align: center;
	color: #fff;
	
	background-color: #336699;
    border: 1px solid #4986C2;
    border-right-color: #1F5285;
    border-bottom-color: #1F5285;
}

.td_sched table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: separate;
	border: 0;
	background: none;
}
.td_sched td {
	padding: 0;
}
.td_sched td.right {
	border: 0;
}
.unsched_table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: separate;
	border: 0;
}
.unsched_table td {
	padding: 0;
	border: 0;
	border-right: 1px solid #333;
}
.unsched_table td.right {
    border-width: 0;
    border-left: 1px solid #777;
}
/* focused bridge center */
.td_br_c_f {
	background-color: #6699cc;
    border: 1px solid #7AADE0;
    border-right-color: #5285B8;
    border-bottom-color: #5285B8;
}
/* blured bridge center */
.td_br_c_b {
	background-color: #104E75;
    border: 1px solid #005285;
    border-right-color: #147AAD;
    border-bottom-color: #147AAD;
}
/* focused bridge edge */
.td_br_e_f {
	background-color: #2D5986;
    border: 1px solid #416D9A;
    border-right-color: #194572;
    border-bottom-color: #194572;
}
/* blured bridge edge */
.td_br_e_b {
	background-color: #125A87;
    border: 1px solid #005285;
    border-right-color: #147AAD;
    border-bottom-color: #147AAD;
}
/* scheduled bridge center */
.td_br_cs {
	text-align: center;
	color: #fff;
	
	background-color: #336699;
    border: 1px solid #4986C2;
    border-right-color: #1F5285;
    border-bottom-color: #1F5285;
}
/* scheduled bridge edge */
.td_br_es {
	text-align: center;
	color: #fff;
	
	background-color: #6699cc;
    border: 1px solid #7AADE0;
    border-right-color: #5285B8;
    border-bottom-color: #5285B8;
}

.td_br {	/* the TRIM as syn calls it :D */
	background-color: #2D5986;
    border: 1px solid #416D9A;
    border-right-color: #194572;
    border-bottom-color: #194572;
}
/* first column of the winner bracket admin (input fields and seed number) */
.td_input {
	text-align: left;
}
.td_input table {
	width: 100%;
}
.td_input table td {
	padding: 0;
}
.td_input table td input {
	margin: 0;
}
.td_view {
	color: #d2e2e5;
	text-align: right;
}

.bracket_install {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	color: #ffffff;
}
.bracket_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	color: #fefefe;
}

/******************************* COMMENTS STREAM LIST *******************************/

table.comments_stream {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fefefe;
	
	padding: 0;
	margin: auto;
	border-collapse: separate;
	table-layout: fixed;
}
table.comments_stream td {
	
}
table.comments_stream td.header {
	text-align: center;
	color: #dedede;
	
	padding: 1px;
	
	background-color: #658455;
    border: 1px solid #84A574;
    border-right-color: #476637;
    border-bottom-color: #476637;
}
table.comments_stream td.entry {
	text-align: justify;
	padding: 3px;
	
	color: #ddd;
	background-color: #685539;
    border: 1px solid #444;
    border-top-color: #84A574;
    border-left-color: #666;
}

table.comments_stream a        { color: #658455; text-decoration: none; }
table.comments_stream a:link   { color: #658455; text-decoration: none; }
/*table.comments_stream a:visit  { color: #658455; text-decoration: none; }*/
table.comments_stream a:hover  { color: #ddd; text-decoration: none; }
table.comments_stream a:active { color: #658455; text-decoration: none; }

/******************************* MATCH LISTING TABLE *******************************/
table.match_list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fefefe;
	padding: 0;
	margin: auto;
	border-collapse: separate;
}
table.match_list td {
	padding: 2px;
}

table.match_list td.light_header {
	text-align: center;	
	color: #ccc;
	padding: 2px;
	
	background-color: #364750;
	border: 1px solid #3E515C;
	border-bottom: 3px solid #2E3D44;
}

table.match_list td.header {
	text-align: center;	
	color: #ccc;
	
	background-color: #336699;
    border: 1px solid #5184B7;
    border-right-color: #15487B;
    border-bottom-color: #15487B;
}

table.match_list td.header a           { color: #FFFFFF; text-decoration: none; }
table.match_list td.header a:link      { color: #FFFFFF; text-decoration: none; }
table.match_list td.header a:visited   { color: #FFFFFF; text-decoration: none; }
table.match_list td.header a:hover     { color: #92BC4C; text-decoration: underline; }
table.match_list td.header a:active    { color: #FFFFFF; text-decoration: underline; }

table.match_list td.entry {
	text-align: center;
	color: #fff;
	
	background-color: transparent;
    border: 1px solid #3E515C;
    border-right-color: #364750;
    border-bottom-color: #364750;
}
table.match_list td.break {
	height: 5px;
}

/******************************* SEED TABLES *******************************/
.td_seed_header {
	text-align: center;
	color: #D1EFFF;
	font-weight: bold;
	padding: 1px 1px 0 1px;
	
	background-color: #4B6471;
    border: 1px solid #3B5360;
    border-bottom: 2px #506F7E;
}
.td_seed_entry {
	text-align: center;
	color: #fff;
	
	background-color: #2E3D44;
    border: 1px solid #374A53;
}

td.td_seed_entry a 				{ color: #eee; }
td.td_seed_entry a:link			{ color: #eee; }
td.td_seed_entry a:visited		{ color: #eee; }
td.td_seed_entry a:hover		{ color: #def; text-decoration: underline; }
td.td_seed_entry a:active		{ color: #eee; }

/******************************* GENERIC BLUE DATA LISTING TABLE *******************************/
table.data_list {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fefefe;
	letter-spacing: 0;
	
	padding: 0;
	margin: auto;
	border-collapse: separate;
}
table.data_list td {
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

table.data_list td.header {
	text-align: center;
	font-family: verdana,serif;
	letter-spacing: 1px;
	color: #fff;
	
	background-color: transparent;
	border: none;
	border-bottom: 5px solid #3D668F;
}

table.data_list td.light_header {
	color: #fff;
	text-align: center;
	
	background-color: #3D668F;
	border: none;
	border-right: 3px double #35597D;
	border-left: 3px double #35597D;
}
table.data_list td.entry {
	text-align: center;

    background: #0091D9 none;
    border: 1px none #1AB3FF;
    border-right-color: #0073BB;
    border-bottom-color: #0073BB;
}
table.data_list td.entry input,
table.data_list td.entry textarea {
	font-family: verdana,serif;
	letter-spacing: 0;
	color: #eee;

	background-color: #577481;
    border: 2px solid #242F35;
    border-right: 1px #4C6771;
    border-bottom: 1px #4C6771;
    border-left-style: double;
    margin: 1px;
	padding: 1px 3px 2px 3px;
}
table.data_list td.empty {
	text-align: center;
	color: #666666;
	font-style: italic;
	
	background-color: transparent;
	border-top: 5px solid #3D668F;
	padding: 5px;
}

table.data_list td.empty input.button {
	background-color: #005285;
    border: 1px solid #1E7AAD;
    border-right-color: #003253;
    border-bottom-color: #003253;
    padding: 1px 10px;
	margin: 1px;
}

table.data_list td.header a           { color: #fefefe; text-decoration: none; }
table.data_list td.header a:link      { }
table.data_list td.header a:visited   { }
table.data_list td.header a:hover     { text-decoration: underline; }
table.data_list td.header a:active    { text-decoration: underline; }

table.data_list td.entry a           { color: #CE6E45; text-decoration: none; font-weight: bold; }
table.data_list td.entry a:link      { }
table.data_list td.entry a:visited   { }
table.data_list td.entry a:hover     { color: #D9EFEF; text-decoration: underline; }
table.data_list td.entry a:active    { text-decoration: underline; }

/******************************* MESSAGE WINDOW aka ShowHint() *******************************/

table.message_window {	
	color: #fefefe;
	padding: 0;
	margin: auto;
	border-collapse: separate;
	
	background-color: #666;
    border: 1px solid #222;
}

table.message_window td.entry {
	font-family: verdana,sans-serif;
	font-size: 10px;
	letter-spacing: 0;
	padding: 0;
	text-align: center;
}

table.message_window td.header {
	padding: 3px;
	color: #cccccc;
	font-weight: bold;
	letter-spacing: 1px;
	
	background-color: #4E4E4E;
    border: 1px solid #5c5c5c;
    border-right: 0 #666;
    border-bottom-color: #000;
}

table.message_window td.body {
	padding: 3px;
	color: #dedede;
	
	/*align: left;*/
	letter-spacing: 0;
	
	background-color: #333;
    border: 1px solid #666;
    border-right-color: #555;
    border-bottom-color: #555;
}

/******************************* CALENDAR ITEMS *******************************/
.calendar {
	font-family: "lucida grande", lucida, arial, geneva, sans-serif;
	font-size: 10px;
	text-align: center;
	letter-spacing: 0;
}
.calendar th {
	font-family: "lucida grande", lucida, arial, geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #eee;
}
.calendar td.regular {
	font-size: 10px;
	color: #BCCDC3;
	
	padding: 1px;
	height: 20px;
	width: 25px;
}
.calendar .chosen {
	font-weight: bold;
	font-size: 14px;
	color: #192D22;
	
	padding: 0;
	width: 25px;
	
	background-color: #005285;

    border: 1px solid #2076A1;
    border-right-color: #00487B;
    border-bottom-color: #00487B;
}

/******************************* MAP LIST *******************************/

td.map_statistics table td.top {
	font-family: verdana,sans-serif;
	font-size: 10px;
	letter-spacing: 0;
	color: #eee;
	
	padding-left: 10px;
}

img.map_image {
	border: 1px solid #999;
	margin: 1px 2px;
}

td.map_description {
	background-color: #0073AD;
	color: #fff;
	padding: 2px 5px;

    border: 1px solid #147AAD;
    border-right-color: #005C8F;
    border-bottom-color: #005C8F;
}

/******************************* GENERIC ITEMS 554a4a *******************************/

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
    background: #2E3D44 url("background.gif");
    overflow: auto;
	
	/*scrollbar-face-color:#BDCFDB;
	scrollbar-track-color:#006699;
	scrollbar-arrow-color:#003355;
	
	scrollbar-3dlight-color:#fff;
	scrollbar-darkshadow-color:#000;
	scrollbar-highlight-color:#ccc; 
	scrollbar-shadow-color:#666;*/
}

table {
	overflow: hidden;
}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #dedede;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {
	font-family: "lucida grande", lucida, arial, geneva, sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	color: #dedede;
	margin: 0;
	vertical-align: middle;
}

input {	/* all form elements will have a lil spacing between em */
	margin: 3px;
	color: #000000;
}

input.text {
	font-family: verdana,sans-serif;
	letter-spacing: 0;
	text-align: center;
	font-size: 11px;
	color: #fefefe;

	background-color: #005285;
    border: 1px solid #003E71;
    border-right-color: #2076A1;
    border-bottom-color: #2076A1;
}

input.ltext {
	font-family: "lucida grande", lucida, arial, geneva, sans-serif;
	letter-spacing: 1px;
	text-align: left;
	font-size: 10px;
	color: #dedede;

	background-color: #373737;
    border: 1px solid #919191;
    border-right-color: #AFAFAF;
    border-bottom-color: #AFAFAF;
}

input.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	width: auto;
	padding: 1px 6px;
	font-style: normal;
	margin: 3px 1px;
	
	background-color: #005285;
    border: 1px solid #1273AF;
    border-right-color: #003467;
    border-bottom-color: #003467;
}

input.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #dedede;
	
	background-color: #373737;
    border: 1px solid #919191;
    border-right-color: #AFAFAF;
    border-bottom-color: #AFAFAF;
}

textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #dedede;
	
	background-color: #087EB9;
    border: 1px solid #005285;
    border-right-color: #288EC1;
    border-bottom-color: #288EC1;
    overflow-y: auto;
	
	/*scrollbar-face-color: #577481;
	scrollbar-track-color: #425962;
	scrollbar-arrow-color: #1E323B;
	scrollbar-3dlight-color: #425962;
	scrollbar-darkshadow-color: #425962;
	scrollbar-highlight-color: #567580;
	scrollbar-shadow-color: #384B53;*/
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #eee;
	
	background-color: #375982;
	border: 1px solid #333;
}

h4 {
	font-family: verdana,sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0;
	padding: 2px 5px;
	color: #fff;
    background: #2E3D44 url("background.gif");
    border: 1px solid #47616E;
	display: inline-block;
}

/* generic link type */
a              { color: #ccc; text-decoration: none; }
a:link         { color: #eee; text-decoration: none; }
a:visited      { color: #eee; text-decoration: none; }
a:hover        { color: #D1EFFF; text-decoration: underline; }
a:active       { color: #eee; text-decoration: none; }

hr             { color: #ccc; height: 2px; border-top: 1px solid #ccc; }

/* different type of headers */
.headerText    { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; color: #fefefe; }
.headerText1   { font-family: "lucida grande", lucida, arial, geneva, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold; color: #999999; }
.headerText2   { font-family: "lucida grande", lucida, arial, geneva, sans-serif; font-size: 11px; letter-spacing: 1px; font-weight: bold; color: #f2e5e0; }
.headerText3   { font-family: "lucida grande", lucida, arial, geneva, sans-serif; font-size: 11px; letter-spacing: 1px; font-weight: bold; color: #fc4440; }

/* for that little red star indicating who is captain :D */
.red           { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; color: #DD2222; }

.input_cell {
	vertical-align: baseline;
}
.input_cell input.text {
	background-color: #373737;
    border: 1px solid #919191;
    border-right-color: #AFAFAF;
    border-bottom-color: #AFAFAF;
    text-align: left;
	vertical-align: baseline;
	margin: 0;
}

.rules_cell {
	font-family: verdana,sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #eee;
}

h1 {
	font-family: verdana,sans-serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 0;
    margin: 0 5px 0 0;
    padding: 0;
	color: #fff;
	display: inline;
}
h2 {
	font-family: verdana,sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0;
    margin: 0 3px 0 0;
    padding: 0;
	color: #fff;
	display: inline;
}
h3 {
	font-family: tahoma,sans-serif;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0;
    margin: 0 3px 0 0;
    padding: 0;
	color: #fff;
	display: inline;
}
h5 {
	font-family: tahoma,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fd8350;
    margin: 0 3px 0 0;
    padding: 0;
	display: inline;
}
h6 {
	font-family: verdana,sans-serif;
	font-size: 9px;
	font-weight: normal;
	letter-spacing: -1px;
    margin: 0 2px 0 0;
    padding: 0;
	display: inline;
}

table.news {
	border: 0 solid #743;
}
table.news td.body {
	border: 1px solid #4A6677;
	padding: 5px;
	background: #32424A;
}
table.news td.title {
	background-color: #4A6677;
	border: 0 solid #977;
	padding: 3px 5px;
}
table.news td.author {
	background-color: transparent;
	border: 0 solid #314550;
	padding: 1px 15px;
}
table.news td.break {
	height: 20px;
}

table.news_list {
	padding: 0;
	border: 0;
	border-collapse: collapse;
	width: 95%;
}

table.news_list td {
	padding: 2px;
	font-family: tahoma,sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	
	background-color: #633;
	border: 1px solid #ccc;
}

table.news_list td.selected {
	padding: 2px;
	font-family: tahoma,sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	
	background-color: #469;
	border: 1px solid #ccc;
}

/* for vee <3 */

table.sexy_buttons td {
    border: 1px solid #005C8F;
    border-right-color: #2E3D44;
    border-bottom-color: #2E3D44;
}
table.sexy_buttons td#selected {
    border: 1px solid #005C8F;
    border-right-color: #2E3D44;
    border-bottom-color: #759D39;
}

a.sexy_button {
	color: #eee;
	padding: 2px;
	width: 80px;
	display: block;
	text-align: center;
}

a.sexy_button:link,
a.sexy_button:visited {
	color: #eee;
	background-color: #0A70A3;
	text-decoration: none;
    border: 1px solid #147AAD;
    border-right-color: #00487B;
    border-bottom-color: #00487B;
}

a.sexy_button:hover {
	color: #eee;
	text-decoration: none;
	background-color: #006699;

    border: 1px solid #147AAD;
    border-right-color: #00487B;
    border-bottom-color: #00487B;
}
a.sexy_button:active {
	color: #eee;
	text-decoration: none;
	background-color: #006DBB;
}

td#selected a.sexy_button:link,
td#selected a.sexy_button:visited {
	background-color: #006699;
}


.uploadtext {
	text-align: center;
	color: #fff;
	
	background-color: #336699;
    border: 1px solid #4986C2;
    border-right-color: #1F5285;
    border-bottom-color: #1F5285;
}

.uploadtext a:link,
.uploadtext a:visited {
	color: #cda;
}